/resources/public/js/compiled/**
figwheel_server.log
pom.xml*
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.rebel_readline_history
resources/public/js
package.json
package-lock.json
node_modules
.lsp
.clj-kondo
.lein-failures